@media only screen and (max-width:950px) {
    .header nav {
        display: none;
        margin: 230px -126px 0 0 !important;
        border: solid 1px black;
    }
    .menu {
        cursor: default;
        display: flex;
    }
    .text h1 {
        font-size: 20px;
    }
}

@media only screen and (min-width:951px) {
    .header nav {
        display: flex !important;
        position: relative;
    }
    .menu {
        display: none;
    }
}
@media screen and (max-width:760px){
    .showimg{
        padding: 0;
        flex-direction: column;
    }
    .showimg img{
        /* display: none; */
    }
    .right-side{
        width: auto;
        height: auto;
        /* text-align: center; */
        padding: 0px 0 0 40px;
    }
    .right-side h1{
        text-align: center;
        font-weight: 10;
    }
    .right-side p{
        text-align: left;
        font-size: 13px;
    }
    .site-footer {
       text-align: justify;
    }
    .site-footer h6{
        text-align: center;
     }
}